.navbar{
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.navbar ul{
	padding-left: 0;
}
.navbar p a,
.navbar ul li{
	display: inline;
	list-style: none;
	padding: 10px;
}
.navbar p a:hover,
.navbar ul li:hover{
	color: #fff;
	background-color: #ccc;
}
.navbar p a,
.navbar ul a{
	text-decoration: none;
	color: #fff;
}
span.glyphicon.glyphicon-search{
	padding: 5px;
	color: white;
} 
span.glyphicon.glyphicon-search:hover{
	color: #fff;
	background-color: red;
} 
.header{
	background: url('../Pics/header.jpg');
	height: 650px;
	background-position: center;
	background-size: cover;
}
