/* Global */
html, body { overflow-x: hidden; }

/* Extras */
nav .hvr-shutter-in-horizontal::before{
    border-radius: 5px;
    background: #1C2833;

}
nav .hvr-shutter-in-horizontal{
    background: #B7950B;
    opacity: 0.7;
}
nav .hvr-shutter-out-horizontal:before{
    background: #B7950B;
    border-radius: 5px;
    opacity: 0.7;
}
nav .hvr-shutter-out-horizontal{
background: #1C2833;
}
.my-container{
    margin-top: 10px;
}
/* Navbar */
nav{
    background: #1C2833;
}
nav ul li{
    padding: 0 10px;
}
nav ul li a{
    color: #1C2833;
    text-decoration: none;
    border-radius: 5px;
}
nav .btn{
    margin-left: 10px;
    background: #B7950B;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 10px; 
}
/* header */
.header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1503719870153-8100f1f89185?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b9d6495eddb0e1da9d9f5799b8723ff5&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-size: cover;
    height: 450px;
}
.header h1,h2,p{
    text-align: center;
}
.header h1{
    padding-top: 135px;
    color: #FBFCFC;
    font-size: 70px;
}
.header h2{
    color: #FBFCFC;
    font-size: 45px;
}
.header p{
    font-size: 40px;
    color: aqua;
    opacity: 0.7;
}
/* Content */
.image-1{
    background: url('https://images.unsplash.com/photo-1531259736756-6caccf485f81?ixlib=rb-0.3.5&s=9dcccf80e6a983cd8cf4a517cf16366b&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 5px;
    border-radius: 5px;

}
.image-2{
    background: url('https://images.unsplash.com/photo-1521847512898-c809c162afdf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=79e9974a081894ac68961e039cd71cd2&auto=format&fit=crop&w=401&q=80');
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 5px;
    border-radius: 5px;

}
.image-3{
    background: url('https://images.unsplash.com/photo-1527891751199-7225231a68dd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c36b24054dceb340e2bf8505b1813ec&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 5px;
    border-radius: 5px;
}
.image-4{
    background: url('https://images.unsplash.com/photo-1524683745036-b46f52b8505a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8464bc4ae15f5ba50c812d9b66151509&auto=format&fit=crop&w=358&q=80');
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-top: 5px;
    border-radius: 5px;
}
/* Content */
.content{
    border: #1C2833 .5px solid;
    padding: 50px 50px;
    background: #F2F4F4;
    border-radius: 5px;
}
.content h1{
    text-align: center;
    font-size: 45px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.content p{
    text-align: start;
    font-size: 20px;
}
.content li{
    font-size: 20px;
}
.content p span{
    color: #CB4335;
    font-weight: bold;
}
.content button{
    margin-top: 30px;
    padding: 5px 10px;
}
.content .btn{
    background: #CB4335;
    opacity: 0.7;
}
/* Side-Content */
.card{
    margin-top: 15px;
    background: #F8F9F9;
}
.card-body h3{
    text-align: center;
}
.card-body a{
    color: #FBFCFC;
    text-decoration: none;
}
.card-body .btn{
    background: #CB4335;
}
.card-body li{
    list-style: none;
}
.card-body li a{
    color: #1F618D;
}
/* Espace-Etudiant */
form .btn{
    margin-top: 15px;
    margin-left: 12px;
    padding: 8px 20px;
    background: #CB4335;
    color: #FBFCFC;
}
form{
    border: .5px solid #ccc;
    margin-top: 100px;
    padding: 15px;
    height: 450px;
    border-radius: 5px;
    background: #F2F3F4;
}
.form-group input{
    padding: 25px 5px;
}
.form-group label{
    padding: 0 10px;
    font-size: 17px;
}
.form-group{
    margin-right: 15px;
    margin-top: 50px;
}
.alert-txt h2{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
footer{
    margin-top: 50px;
    font-size: small;
    text-align: center;
}
/* Mid-Content */

.mid-content .first a{
    padding: 5px 5px;
    color: rgb(17, 100, 179);
}
#one span{
color: #CB4335;
font-weight: bold;
}
#two span{
color: #CB4335;
font-weight: bold;
}
#three span{
color: #CB4335;
font-weight: bold;
}
#four span{
color: #CB4335;
font-weight: bold;
}
#five span{
color: #CB4335;
font-weight: bold;
}
.mid-content .first p{
    text-align: start;
    font-size: 18px;
}
.mid-content .first{
    margin-top: 10px;
    border-right: #1C2833 solid 2px;
    padding: 10px;
    background: #F8F9F9;
    border-radius: 5px;
}
.mid-content{
    margin-top: 15px;
    border-radius: 5px;
}
.mid-content .first a{
    text-decoration: none;
    color: rgb(17, 100, 179);
}
.mid-content h1{
    text-align: center;
}
/* Social Medias */
.social-media{
    margin-top: 5px;
    height: 80px;
}
.social-media a{
    padding: 0 20px;
}
.social-media p{
    color: #F8F9F9;
    margin-top: 17px;
}
.social-media a{
    color: #F2F3F4;
}
/* Footer */
footer{
    background: #1C2833;
}
footer h2{
    color: #D4E6F1;
}
/* fin anne */
.fin-anne h1{
    text-align: center;
    margin-top: 15px;
}
.fin-anne iframe{
    margin-top: 15px;
}
.statistic{
    background: #D4E6F1;
    margin-top: 15px;
    height: 200px;
}
.statistic h1{
    text-align: center;
    padding-top: 50px;
}
.statistic h4{
    display: inline;
    padding: 0 20px;
    margin-left: 52px;
}




